{# Based on https://github.com/django/django/blob/4.2.1/django/forms/templates/django/forms/widgets/input.html #}
<label class="form-label" for="{{ widget.id_for_label }}">
    {{ widget.label_tag }}
</label>
<input class="form-control"
       type="{{ widget.type }}"
       name="{{ widget.html_name }}"
       {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
       {% include "widgets/attrs.html" %} />
{% if widget.errors %}
    <div class="invalid-feedback d-block">{{ widget.errors | join:" " }}</div>
{% endif %}
