{# Based on https://github.com/django/django/blob/4.2.1/django/forms/templates/django/forms/widgets/input.html #}
<label class="form-label" for="{{ widget.id_for_label }}">
    {{ widget.label_tag }}
</label>
<input
    class="form-control"
    type="{{ widget.type }}"
    name="{{ widget.name }}"
    {% if widget.value != None %}
        value="{{ widget.value|stringformat:'s' }}"
    {% endif %}
    {# DEV: I'm torn in including `attrs` or not because Django seems opinionated about them #}
    {# {% include "django/forms/widgets/attrs.html" %} #}
/>
{% if widget.errors %}
    <div class="invalid-feedback d-block">
        {{ widget.errors | join:" " }}
    </div>
{% endif %}
