{% extends "_layouts/base.html" %}

{% load i18n %}

{% block messages %}
{% if messages %}
    <div>
      <strong>{% trans "Messages:" %}</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <div class="bg-light vh-100">
        <div class="container pt-5">
            <div class="p-3 w-100 mx-auto card" style="max-width: 480px">
                <div class="card-body p-0">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
