{% extends "_layouts/base.html" %}
{% block outer_content %}
    <div class="container pt-2">
        {% if messages %}
            {# Test via /message-test/ endpoint #}
            <div class="row">
                <div class="card mb-3 col-6">
                    <div class="card-body">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                <div>{{ message }}</div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="text-success">{{ message }}</div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                <div class="text-danger">{{ message }}</div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="text-danger">{{ message }}</div>
                            {% else %}
                                {# DEBUG or anything else #}
                                <div>
                                    {{ message }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
