{% extends "_layouts/base.html" %}
{% load messages %}
{% block outer_content %}
    <div class="container pt-2">
        {% if messages %}
            {# Test via /message-test/ endpoint #}
            {% for message in messages %}
                <div class="row">
                    <div class="card mb-3 col-6 {% message_level_to_card_class message.level %}">
                        <div class="card-body">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
