{# Based on: https://github.com/pennersr/django-allauth/blob/0.54.0/allauth/templates/account/verified_sent.html #}
{% extends "_layouts/auth.html" %}
{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block form %}
    <h1 class="mb-3">{% trans "Verify Your Email Address" %}</h1>

    <p>{% blocktrans %}We have sent an email to {{ user }} for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p><p>{% blocktrans %}If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
{% endblock %}
