{# Based on https://docs.djangoproject.com/en/4.2/topics/auth/default/#django.contrib.auth.views.LoginView #}
{% extends "_layouts/auth.html" %}
{# TODO: Figure out autoload #}
{% load forms %}
{% block form %}
    <h1 class="mb-3">Login</h1>
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {# Form inputs via: https://github.com/django/django/blob/4.2.1/django/contrib/auth/forms.py#L199-L210 #}
            <div class="mb-3">
                {# Expecting: <input type="text" name="username" value="test2" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"> #}
                {% input form.username %}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password.id_for_label }}">
                    {{ form.password.label_tag }}
                </label>
                <input class="form-control"
                       id="{{ form.password.id_for_label }}"
                       name="{{ form.password.html_name }}"
                       type="password"
                       value="{{ form.password.value | default_if_none:"" }}" />
                {% if form.password.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.password.errors | join:" " }}
                    </div>
                {% endif %}
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
            <input name="next" type="hidden" value="{{ next }}">
        </form>
        {# Assumes you set up the password_reset view in your URLconf #}
        <p class="mt-4">
            <a href="{% url 'password_reset' %}">Forgot password?</a>
        </p>
        <p>
            <a href="{% url 'sign_up' %}">Sign up</a>
        </p>
    {% endblock %}
